body {
    margin: 5mm;
    /* width: 1500px; */
    /* height: 17cm; */
}

/*The base styling for the customer number and order button */
#top {
    display: flex;
    justify-content: end;
    height: 15mm;
    border-bottom: solid;
}

/*This div is the element that contains the customer text*/
#top>div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#customer {
    margin: 0;
    border-radius: 30px;
    background-color: darkslateblue;
    color: white;
    height: 12mm;
    border: solid;
    border-color: lightsteelblue;
    padding: 0 4mm 0 4mm;
    display: flex;
    align-items: center;
}

#customerText {
    white-space: pre;
}

#orderbtn {
    height: 12mm;
    width: 40mm;
    color: whitesmoke;
    background-color: rgb(2, 194, 2);
    border-radius: 5px;
    border: solid 3px;
    border-color: green;
}

/* This styling centers the text in the button*/
#orderbtn>h3 {
    margin: 0;
}

#orderbtn:active {
    background-color: green;
    border-color: rgb(2, 194, 2);
}

/*The main content of the page*/
main {
    display: flex;
}

#previousOrders {
    width: 12%;
    padding: 0;
    border-width: 2px;
    align-items: center;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#previousOrders>h1 {
    margin: 10px 0 0 0;
    text-align: center;
}

/*Unfinished*/
#lastOrders {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid;
}

/*unfinished*/
#previousOrders>div>h4 {
    margin: 5px 0 0 0;
}

/*not in use*/
#previousOrders>h3 {
    text-align: center;
    width: 80%;
    background-color: gainsboro;
    border: solid rgb(120, 120, 120) 2px;
}

#food {
    width: 70%;
    border-right: solid;
    border-left: solid;
    border-color: gainsboro;
    border-width: 3px;
}

.menuName {
    background-color: lightgray;
    margin: 0 0 13px 0;
}

.menu {
    display: grid;
    grid-template-columns: 50mm 50mm 50mm 50mm;
    justify-content: space-around;
    align-content: space-around;
    /* height: 4cm; */
}

.item {
    background-color: whitesmoke;
    margin: 0 0 20px 0;
    text-align: center;
}

.item:active {
    /* border: none; */
    background-color: wheat;
}

.itemName {
    margin: 0 0 5px;
}

#cart {
    width: 18%;
    /* background-color: lavender; */
    /* margin: 5px 10px 0 10px; */
}

#cart>h1 {
    text-align: center;
    margin: 10px 0 10px 0;
    
}

#cartItems {
    display: grid;
    justify-content: center;
}

#empty {
    color: gray;
}

.remove {
    margin-left: 10px;
    color: red;
    background-color: aliceblue;
}

.cartItem{
    text-align: center;
    border: solid;
    border-width: 1px;
    margin: 0 0 12px 12px;
}